# Missing Value

Mising Value merupakan data yang kosong atau tidak lengkap.

## Menghapus baris atau kolom yang memiliki missing value

In [1]:
import pandas as pd

In [2]:
# Tanpa Menggunakan Dataset

# Contoh dataset dengan nilai yang hilang
data = {
    'A': [1, 2, None, 4],
    'B': [5, None, 7, 8],
    'C': [9, 10, 11, None]
}
df = pd.DataFrame(data)

# Tampilkan dataset sebelum penghapusan
print("Dataset sebelum penghapusan:")
print(df)

# Hapus baris yang memiliki nilai yang hilang
df_cleaned_rows = df.dropna()
print("\nDataset setelah menghapus baris yang memiliki nilai yang hilang:")
print(df_cleaned_rows)

# Hapus kolom yang memiliki nilai yang hilang
df_cleaned_cols = df.dropna(axis=1)
print("\nDataset setelah menghapus kolom yang memiliki nilai yang hilang:")
print(df_cleaned_cols)

Dataset sebelum penghapusan:
     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN

Dataset setelah menghapus baris yang memiliki nilai yang hilang:
     A    B    C
0  1.0  5.0  9.0

Dataset setelah menghapus kolom yang memiliki nilai yang hilang:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [3]:
# Menggunakan Dataset

# Load dataset Titanic dari file CSV
titanic_df = pd.read_csv("dataset/titanic.csv")

# Tampilkan informasi mengenai dataset, termasuk jumlah nilai yang hilang di setiap kolom
print("Informasi tentang dataset Titanic:")
print(titanic_df.info())

# Hapus baris yang memiliki nilai yang hilang
titanic_cleaned_rows = titanic_df.dropna()
print("\nDataset Titanic setelah menghapus baris yang memiliki nilai yang hilang:")
print(titanic_cleaned_rows)

# Hapus kolom yang memiliki nilai yang hilang
titanic_cleaned_cols = titanic_df.dropna(axis=1)
print("\nDataset Titanic setelah menghapus kolom yang memiliki nilai yang hilang:")
print(titanic_cleaned_cols)

Informasi tentang dataset Titanic:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Dataset Titanic setelah menghapus baris yang memiliki nilai yang hilang:
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]

Dataset Titanic setelah menghapus kolom yang memiliki nilai yang hilang:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex  SibSp  Parch  \
0                              Braund, Mr. Owen Harris    male      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female      1      0
2                               Heikkinen, Miss. Laina  female      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female      1      0
4                             Allen, Mr. William Henry    male      0      0
..                                                 ...     ...    ...    ...
886                              Montvila, Rev. Juozas    male      0      0
887                       Graham, Miss. Margaret Edith  female      0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female      1      2
889                              Behr, Mr. Karl Howell    male      0      0
890                                Dooley, Mr. Patrick    male      0      0

               Ticket     Fare
0           A/5 21171   7.2500
1            PC 17599  71.2833
2    STON/O2. 3101282   7.9250
3              113803  53.1000
4              373450   8.0500
..                ...      ...
886            211536  13.0000
887            112053  30.0000
888        W./C. 6607  23.4500
889            111369  30.0000
890            370376   7.7500

[891 rows x 9 columns]

## Mengisi nilai kosong dengan nilai rata-rata atau median

In [4]:
# Load dataset Titanic dari file CSV
titanic_df2 = pd.read_csv("dataset/titanic.csv")

# Tampilkan informasi mengenai dataset, termasuk jumlah nilai yang hilang di setiap kolom
print("Informasi tentang dataset Titanic sebelum pengisian nilai kosong:")
print(titanic_df2.info())

# Mengisi nilai kosong pada kolom 'Age' dengan nilai median dari kolom tersebut
age_median = titanic_df2['Age'].median()
titanic_df2['Age'].fillna(age_median, inplace=True)

# Mengisi nilai kosong pada kolom 'Fare' dengan nilai rata-rata dari kolom tersebut
fare_mean = titanic_df2['Fare'].mean()
titanic_df2['Fare'].fillna(fare_mean, inplace=True)

# Tampilkan informasi tentang dataset setelah pengisian nilai kosong
print("\nInformasi tentang dataset Titanic setelah pengisian nilai kosong:")
print(titanic_df2.info())

Informasi tentang dataset Titanic sebelum pengisian nilai kosong:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Informasi tentang dataset Titanic setelah pengisian nilai kosong:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

## Mengisi nilai kosong dengan nilai yang sering muncul

In [5]:
# Load dataset Titanic dari file CSV
titanic_df3 = pd.read_csv("dataset/titanic.csv")

# Tampilkan informasi mengenai dataset, termasuk jumlah nilai yang hilang di setiap kolom sebelum pengisian
print("Informasi tentang dataset Titanic sebelum pengisian nilai kosong:")
print(titanic_df3.info())

# Mengisi nilai kosong pada kolom 'Embarked' dengan nilai yang sering muncul (mode) dari kolom tersebut
embarked_mode = titanic_df3['Embarked'].mode()[0]
titanic_df3['Embarked'].fillna(embarked_mode, inplace=True)

# Tampilkan informasi tentang dataset setelah pengisian nilai kosong
print("\nInformasi tentang dataset Titanic setelah pengisian nilai kosong:")
print(titanic_df3.info())

Informasi tentang dataset Titanic sebelum pengisian nilai kosong:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Informasi tentang dataset Titanic setelah pengisian nilai kosong:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

## Menghapus Outlier

Outlier merupakan data yang jauh dari nilai rata-rata atau nilai normal. Outlier dapat mempengaruhi hasil analisis dan machine learning.

In [6]:
from sklearn.datasets import load_iris
from scipy import stats

In [7]:
# Load dataset Iris dari scikit-learn
data = load_iris()
iris_df = pd.DataFrame(data.data, columns=data.feature_names)

# Tampilkan informasi tentang dataset Iris sebelum penghapusan outlier
print("Informasi tentang dataset Iris sebelum penghapusan outlier:")
print(iris_df.describe())

# Definisikan fungsi untuk menghapus outlier berdasarkan z-score
def remove_outliers_zscore(df, z_threshold=3):
    z_scores = stats.zscore(df)
    return df[(z_scores < z_threshold).all(axis=1)]

# Hapus outlier dari dataset Iris berdasarkan z-score
iris_cleaned = remove_outliers_zscore(iris_df)

# Tampilkan informasi tentang dataset Iris setelah penghapusan outlier
print("\nInformasi tentang dataset Iris setelah penghapusan outlier:")
print(iris_cleaned.describe())

Informasi tentang dataset Iris sebelum penghapusan outlier:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

Informasi tentang dataset Iris setelah penghapusan outlier:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         149.000000        149.000000         149.000000
mean            5.844295          3.048322           3.773154
std             0.830775          0.423085           1.761435
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.400000
75%             6.400000          3.300000           5.100000
max             7.900000          4.200000           6.900000

       petal width (cm)
count        149.000000
mean           1.204698
std            0.761962
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000

## Menggantikan nilai outlier dengan nilai lain seperti nilai rata-rata atau median.

In [8]:
# membaca dataset publik
data = pd.read_csv("dataset/iris.data", header=None)

# menentukan batas outlier
q1 = data[0].quantile(0.25)
q3 = data[0].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)

# menggantikan outlier dengan nilai rata-rata
data[0] = data[0].apply(lambda x: data[0].mean() if x < lower_bound or x > upper_bound else x)

# menggantikan outlier dengan nilai median
data[0] = data[0].apply(lambda x: data[0].median() if x < lower_bound or x > upper_bound else x)

# menampilkan dataset yang telah diubah
print(data)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

## Mengisi nilai kosong dengan nilai yang sering muncul

In [9]:
# Load dataset Titanic dari file CSV
titanic_df4 = pd.read_csv("dataset/titanic.csv")

# Tampilkan informasi mengenai dataset, termasuk jumlah nilai yang hilang di setiap kolom sebelum pengisian
print("Informasi tentang dataset Titanic sebelum pengisian nilai kosong:")
print(titanic_df4.info())

# Mengisi nilai kosong pada kolom 'Embarked' dengan nilai yang sering muncul (mode) dari kolom tersebut
embarked_mode = titanic_df4['Embarked'].mode()[0]
titanic_df4['Embarked'].fillna(embarked_mode, inplace=True)

# Tampilkan informasi tentang dataset setelah pengisian nilai kosong
print("\nInformasi tentang dataset Titanic setelah pengisian nilai kosong:")
print(titanic_df4.info())

Informasi tentang dataset Titanic sebelum pengisian nilai kosong:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Informasi tentang dataset Titanic setelah pengisian nilai kosong:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

# Menangani Format yang Tidak Konsisten

Format Tidak Konsisten terjadi ketika data memiliki format yang sama atau tidak sesuai dengan format yang diharapkan. Sering terjadi pada pemformatan tanggal, bulan, dan tahun.

## Mengubah format data menjadi format yang konsisten seperti mengubah format tanggal menjadi format yang sama

In [10]:
# Contoh dataset dengan kolom tanggal dalam format yang berbeda
data = {
    'Tanggal': ['2021-08-01', '02-08-2021', '2021/08/03', '20210804']
}
df = pd.DataFrame(data)

# Tampilkan dataset sebelum perubahan format
print("Dataset sebelum perubahan format:")
print(df)

# Ubah format tanggal menjadi format yang sama (YYYY-MM-DD)
df['Tanggal'] = pd.to_datetime(df['Tanggal'], errors='coerce').dt.strftime('%Y-%m-%d')

# Tampilkan dataset setelah perubahan format
print("\nDataset setelah perubahan format:")
print(df)

Dataset sebelum perubahan format:
      Tanggal
0  2021-08-01
1  02-08-2021
2  2021/08/03
3    20210804

Dataset setelah perubahan format:
      Tanggal
0  2021-08-01
1         NaN
2         NaN
3         NaN

## Memperbaiki data yang salah ketik atau typo

In [11]:
# Load dataset Iris dari scikit-learn
data = load_iris()
iris_df = pd.DataFrame(data.data, columns=data.feature_names)
iris_df['species'] = data.target_names[data.target]

# Contoh data dengan salah ketik atau typo
iris_df.iloc[0, 0] = 5.1
iris_df.iloc[1, 1] = 3.6

# Tampilkan dataset sebelum pembersihan data
print("Dataset sebelum pembersihan data:")
print(iris_df)

# Koreksi data salah ketik atau typo
# Misalnya, jika nilai 3.6 pada kolom 'sepal width (cm)' seharusnya 3.0
iris_df.loc[iris_df['sepal width (cm)'] == 3.6, 'sepal width (cm)'] = 3.0

# Tampilkan dataset setelah pembersihan data
print("\nDataset setelah pembersihan data:")
print(iris_df)

Dataset sebelum pembersihan data:
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.6                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]

Dataset setelah pembersihan data:
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.0                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 5 columns]

# Menangani Malformed Record
Malformed Record terjadi saat ketika data tidak memenuhi format atau struktur yang diharapkan.

## Menghapus record yang tidak sesuai dengan format atau struktur yang diharapkan

In [12]:
#| code-fold: true

# membaca dataset dari file csv
data = pd.read_csv('dataset/iris.csv')

# fungsi untuk melakukan pengecekan format atau struktur pada setiap record dalam dataset
def format_check(record):
# implementasi pengecekan format atau struktur pada satu record
# return True jika format atau struktur sesuai, False jika tidak sesuai
    return True

# melakukan iterasi pada setiap record dalam dataset
for index, row in data.iterrows():
    # cek apakah format atau struktur record sesuai dengan yang diharapkan
    if not format_check(row):
        # jika tidak sesuai, hapus record dari dataset
        data = data.drop(index)

# menampilkan dataset yang telah diubah
print(data)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [13]:
# membaca dataset
data = pd.read_csv("dataset/iris.csv")

# mengecek dan menghapus record yang tidak sesuai dengan format atau struktur yang diharapkan
for i, row in data.iterrows():
    if not format_check(row):
        data.drop(i, inplace=True)

# menampilkan dataset yang telah diubah
print(data)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

##  Mengubah record yang tidak sesuai dengan format atau struktur yang diharapkan

In [14]:
# fungsi untuk melakukan pengecekan format atau struktur pada setiap record dalam dataset
def format_check(record):
    # implementasi pengecekan format atau struktur pada satu record
    # return True jika format atau struktur sesuai, False jika tidak sesuai
    return True

# melakukan iterasi pada setiap record dalam dataset
for index, row in data.iterrows():
    # cek apakah format atau struktur record sesuai dengan yang diharapkan
    if not format_check(row):
        # jika tidak sesuai, hapus record dari dataset
        data = data.drop(index)

# menampilkan dataset yang telah diubah
print(data)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]